/*Basic grid*/
.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: #ffffff;
}

.footer {
  background: #ffffff;
}

.main {
  text-align: left;
  background: #ffffff;
}

.aside-1 {
  background: #ffffff;
}

@media all and (min-width: 800px) {
  .aside {
    flex: 1 auto;
  }
}

@media all and (max-width: 800px) {
  .aside {
    margin-left: auto;
    margin-right: auto;
  }
}

@media all and (min-width: 800px) {
  .main    {
    flex: 3 0;
  }

  .main    {
    order: 2;
  }

  .aside-1 {
    order: 3;
  }

  .footer  {
    order: 4;
  }
}

body {
  padding: 2em;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}

/*Header*/
header {
  display: flex;
  grid-area: header;
  justify-content: space-between;
  margin-bottom: 20px;
}

@media all and (min-width: 992px) {
  .logo > img.logo {
    min-height: 100px;
    height: 100px;
  }
}

@media all and (max-width: 992px) {
  .logo > img.logo {
    height: 50px;
  }
}

.side-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-nav > .navigation > .nav-menu {
  margin-top: 22px;
  margin-bottom: 5px;
}

.toggle-menu > input.toggle-menu-mobile {
  height: 30px;
  width: 30px;
  border: none;
  margin-top: 10px;
}

.toggle-menu > input[type=checkbox]:before {
  margin-left: -2px;
  content:"";
  display:inline-block;
  width:32px;
  height:32px;
  background: url("../images/hamburger-menu-icon.jpg") no-repeat center;
}

#toggle-menu > input:checked ~ .mobile-navigation {
  transform: none;
}

.toggle-menu > input[type=checkbox]:checked:before {
  background: url("../images/close-icon.jpg") no-repeat center;
}

.mobile-navigation {
  position: absolute;
  top: 70px;
  left: 0;
  transform-origin: 0;
  transform: translate(-100%, 0);
  transition: transform 0.3s cubic-bezier(0.78,0.3,0.03,1.0);
}

.mobile-navigation > ul.nav-menu {
  text-align: left;
  background-color: #2CB7C6;
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 230px;
}

.mobile-navigation > ul.nav-menu > li {
  padding: 15px 40px;
}

.mobile-navigation > ul.nav-menu > li:hover {
  background-color: #34e3f2;
  cursor: pointer;
}

.mobile-navigation > ul.nav-menu > li > a {
  text-decoration: none;
  color: #ffffff;
}

.social-icons > .icons-list {
  text-align: right;
}

.social-icons > .icons-list a {
  text-decoration: none;
  margin-left: 7px;
  margin-right: 7px;
  float: top;
}

.social-icons > .icons-list a.search-icon {
  margin-left: 20px;
}

.social-icons > .icons-list img{
  height: 32px;
  width: 32px;
}

@media all and (max-width: 992px) {
  body {
    padding: 0;
    margin: 0;
  }

  .navigation.mobile-hide {
    display: none;
  }

  .icons-list > .mobile-hide {
    display: none;
  }
}

@media all and (min-width: 992px) {
  .mobile-navigation.mobile-show {
    display: none;
  }

  .toggle-menu.mobile-show {
    display: none;
  }
}

.navigation > ul.nav-menu {
  display: block;
  list-style-type: none;
}

.navigation > ul.nav-menu > li {
  display:inline;
  padding: 10px;
  list-style-type: none;
}

.navigation > ul.nav-menu > li > a {
  text-decoration: none;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  color: #217280;
  min-width: 60px;
}

.navigation > ul.nav-menu > li > a.active {
  font-weight: bold;
}

.navigation > ul.nav-menu > li > a:hover {
  color: #2CB7C6;
}

/*Aside*/
.aside {
  padding: 30px;
  max-width: 330px;
}

.profile > .avatar > img {
  width: 135px;
  border-radius: 50%;
}

.profile > .social-icons > .icons-list {
  text-align: center;
}

.subscribe {
  margin-top: 30px;
}

.subscribe > .subscribe-form {
  text-align: left;
}

.subscribe > .subscribe-form > input.input {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.subscribe > .subscribe-form > input.submit-btn {
  width: 100%;
  margin-top: 10px;
}

.search {
  margin-top: 30px;
  margin-bottom: 30px;
}

.search > .search-form > input.input {
  width: calc(100% - 42px);
}

.search > .search-form > a.search-icon > img {
  height: 32px;
  width: 32px;
  margin-bottom: -10px;
}

.tags-form {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 120px;
  overflow: hidden;
}

.tags-form > .tags-list > .tag {
  float: left;
  font-size: 14px;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: #ACFF2F;
}

.tags-form > .tags-list > .tag:hover {
  background-color: #a1ec2c;
  cursor: pointer;
}

.last-comments-form {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: left;
}

.last-comments-form > .comment-block {
  padding: 10px;
  display: flex;
  align-content: space-between;
}

.last-comments-form > .comment-block > .avatar > img {
  width: 70px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-block > .comment > .first-name > h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 17px;
}

.comment-block > .comment > .comment-text {
  max-height: 150px;
  overflow: hidden;
}

.comment-block > .comment > .comment-text > p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: normal;
}

/*Main*/
.posts-list {
  display: grid;
  grid-gap: 20px;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 300px);
}

.posts-list > .post {
  width: 300px;
  box-shadow: 0 0 3px 1px #259cac;
}

.post > .post-top {
  height: 165px;
}

.post .post-img {
  display: block;
  margin: 10px;
  width: calc(100% - 20px);
  cursor: pointer;
}

.post .post-detail {
  padding: 10px;
}

.post .post-title {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 5px;
  cursor: pointer;
}

.post .post-title:hover {
  color: #217280;
}

.post .post-short-text {
  margin-bottom: 10px;
  font-weight: normal;
}

.post .post-author h4 {
  margin-top: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.post .post-bottom {
  padding-top: 10px;
  border-top: solid 2px #3fd9f0;
}

.post-bottom > .post-time {
  font-size: 14px;
  font-weight: normal;
}

.post-icons > .post-icon {
  display: inline-flex;
  vertical-align: middle;
}

.post-icons img.post-icon {
  height: 25px;
  width: 25px;
  margin-right: 7px;
  cursor: pointer;
}

.post .post-icon > span {
  font-size: 18px;
}

.post:hover .post-img {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

/*Footer*/
footer {
  margin-top: 20px;
}
